//$primaryColor: #eeffcc;

body {
  background: #0000FF;
}


.rigthMenu{
  position: absolute;
  top: 100px;
  right: 0px;
  width: 200px;
  height: 700px;
  z-index: 10;
  background-color: grey;
}

.fps{
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
}